/auth.json
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.idea
/.DS_Store
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/build/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> baldinof/roadrunner-bundle ###
/bin/rr
###< baldinof/roadrunner-bundle ###
